<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codefarme.imchat.mapper.UserVipMapper" >
  <resultMap id="BaseResultMap" type="com.codefarme.imchat.pojo.UserVip" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="vipstate" property="vipstate" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="VARCHAR" />
    <result column="fishtime" property="fishtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, vipstate, starttime, fishtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_vip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_vip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.codefarme.imchat.pojo.UserVip" >
    insert into user_vip (id, account, vipstate, 
      starttime, fishtime)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{vipstate,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=VARCHAR}, #{fishtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codefarme.imchat.pojo.UserVip" >
    insert into user_vip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="vipstate != null" >
        vipstate,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="fishtime != null" >
        fishtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="vipstate != null" >
        #{vipstate,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="fishtime != null" >
        #{fishtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codefarme.imchat.pojo.UserVip" >
    update user_vip
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="vipstate != null" >
        vipstate = #{vipstate,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="fishtime != null" >
        fishtime = #{fishtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codefarme.imchat.pojo.UserVip" >
    update user_vip
    set account = #{account,jdbcType=VARCHAR},
      vipstate = #{vipstate,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      fishtime = #{fishtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--============================================================================================-->

  <select id="getVipByAccount" resultType="com.codefarme.imchat.pojo.UserVip">
		SELECT
			*
		FROM
			user_vip
		WHERE
			account=#{account}

	</select>
</mapper>